body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #134880;
  font-size: xx-large;
  font-weight: 800;
}

.image {
  border-radius:5px ;
  box-sizing: border-box;
  vertical-align: middle;
  max-height: 200px;
  margin: 0.5%;
}

.arrows {
  box-sizing: border-box;
  display: block;
  max-height: 500px;
  float: right;
  margin: 0.5%;
  margin-right: 5%;
}

.arrow-border {
  border: solid gray 1px;
  border-radius: 10px;
  padding: 40%;
}

.column {
  float: left;
}

.row {
  display: table;
}

.left {
  box-sizing: border-box;
  display: table;
  width: 70%;
  margin-left: -10%;
}

.right {
  box-sizing: border-box;
  display: table;
  text-align: left;
  max-width: 400px;
  width: 30%;
}
